[submodule "contracts/lib/teleporter"]
	path = contracts/lib/teleporter
	url = git@github.com:ava-labs/teleporter.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = git@github.com:foundry-rs/forge-std.git
[submodule "contracts/lib/solidity-merkle-trees"]
	path = contracts/lib/solidity-merkle-trees
	url = git@github.com:michaelkaplan13/solidity-merkle-trees.git
