[submodule "proof-verifier/lib/forge-std"]
	path = proof-verifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "proof-verifier/lib/openzeppelin-contracts"]
	path = proof-verifier/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.1
